# ==========================================
# Arquivos compilados e logs do Java
# ==========================================
*.class
*.log
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar
hs_err_pid*

# ==========================================
# Maven
# ==========================================
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties


!.mvn/wrapper/maven-wrapper.jar

# ==========================================
# Configurações de IDEs
# ==========================================
# IntelliJ IDEA
.idea/
*.iml
*.iws
*.ipr
out/

# Eclipse / Spring Tool Suite
.apt_generated
.classpath
.factorypath
.project
.settings/
.springBeans
.sts4-cache/
bin/

# VS Code
.vscode/

# ==========================================
# Arquivos do Sistema Operacional
# ==========================================
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db